<p>user</p>
<div style="padding: 100px 100px 10px;">
    <form class="bs-example bs-example-form" role="form">   
        <div class="input-group input-group-lg">
            <span class="input-group-addon">
            	<span class="glyphicon glyphicon-user">用户名</span>
            </span>
            <input type="text" class="form-control" placeholder="{{personalInfos.name}}">
        </div>
        <br>

        <div class="input-group input-group-lg">
            <span class="input-group-addon">
            	<span class="glyphicon glyphicon-warning-sign">修改密码</span>
            </span>
            <input type="text" class="form-control" placeholder="">
        </div>
        <br>   
    </form>
</div>